# Measure of spread :
    1- Range*
    2- Percentile
    3- Quartiles
    4- Inter quartile range*
    5- variance*
    6- standard deviation*

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
data = pd.read_csv('Iris.csv')

In [3]:
data.rename(columns={'SepalLengthCm':'SP', 'SepalWidthCm':'SW', 'PetalLengthCm':'PL', 'PetalWidthCm':'PW'}, inplace =True)
data.head()

   Id   SP   SW   PL   PW      Species
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
iris_setosa = data[data['Species']=='Iris-setosa']
iris_virginica = data[data['Species']=='Iris-virginica']
iris_versicolor = data[data['Species']=='Iris-versicolor']

# 1- Range

In [5]:
# Smallest point to a higher point
R = np.max(iris_setosa['PL']) - np.min(iris_setosa['PL'])
print("The range of setosa length is: ", R)

The range of setosa length is:  0.8999999999999999

# 2- Percentile

In [6]:
# nth percentile is the value below which n% of the observation maybe found

In [7]:
mylist = [1,2,3,4,5,6,7,8,9]
print(np.percentile(mylist, 25))
print(np.percentile(mylist, 50))
print(np.percentile(mylist, 90))

3.0
5.0
8.2

In [8]:
np.percentile(iris_setosa['PL'], 95)

1.7

In [9]:
np.percentile(iris_setosa['PL'], 50)

1.5

# 3- Quartiles

In [10]:
print(np.percentile(iris_setosa['PL'], 25))
print(np.percentile(iris_setosa['PL'], 50))
print(np.percentile(iris_setosa['PL'], 75))
print(np.percentile(iris_setosa['PL'], 100))

1.4
1.5
1.5750000000000002
1.9

# 4 - Interquartile Range

In [11]:
# it is q3 - q1
# means max quartile - min quartile

In [12]:
IQR = np.percentile(iris_setosa['PL'], 75) - np.percentile(iris_setosa['PL'], 25)
print('The IQR is: ', IQR)

The IQR is:  0.17500000000000027

# 5- Variance

In [13]:
np.var(iris_setosa['PL'])

0.02950400000000001

In [14]:
# The problem with variance is that it changes the unit of measurement by squaring

# 6 - Standard Deviation

In [16]:
#it is the square root of variance

In [17]:
np.std(iris_setosa['PL'])

0.17176728442867115

# 7 - Absolute median deviation

In [20]:
arr = np.array([1,2,3,4,5,6,7,8,9])

In [26]:
from statsmodels import robust
robust.mad(arr, c=1)

2.0